<!DOCTYPE html>

<html>
    <head>
        <title>Filter</title>
        <link rel="stylesheet" href="/static/style/design.css">
    </head>
    <body onload="loader('video')">

        <div class="centered" >
            <center id="tt">
                Emotion-Detector
            </center>
            <center>
                <form method='POST' enctype="multipart/form-data" action="/">
                    <button class="submit-btn" name="button-value" value="live">Live-Detection</button>
                    <button class="submit-btn" name="button-value" value="image">Image-Detection</button>
                </form>
            </center>
        </div>
    </body>
</html>
